h1 {
  margin: 0;
}

.content {
  background: blue;
  height: 500px;
}

#parallax1,
#parallax2 {
  background: red; 
  background-image: url(http://www.verticalworld.net/school/programs/uploads/pics/program_108_1.jpg);
  height: 400px;
}